* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  height: 100%;

  background-color: rgba(55, 57, 61, 1);
}

.ruler {
  position: relative;
  width: 10vmin;
  height: 90%;
  border-top: 2px solid #5c5a5a;
  background-color: rgba(0, 0, 0, 0.2);
}

/* long scale */
.ruler::before {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background: linear-gradient(to top, #5c5a5a 1px, transparent 2px);
  background-size: 10% 20%;
}

/* short scale */
.ruler::after {
  content: "";

  position: absolute;
  left: 0;
  right: 5vmin;
  top: 0;
  bottom: 0;

  background: linear-gradient(to top, #5c5a5a 1px, transparent 1px);
  background-size: 10% 2%;
}
