* {
  box-sizing: border-box;
}

:root {
  --ruler-height: 90%;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  height: 100%;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.2vmin;

  background-color: rgba(55, 57, 61, 1);
}

.main-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 90%;

  background-color: rgba(0, 0, 0, 0.2);
}

.scales {
  position: relative;
  width: 15vmin;
  height: var(--ruler-height);
  /* border-top: 2px solid #5c5a5a; */
}

/* long scale */
.scales::before {
  content: "";

  position: absolute;
  left: 0;
  right: 7vmin;
  top: 0;
  bottom: 0;

  background: linear-gradient(to top, #5c5a5a 1px, transparent 2px);
  background-size: 1% 10%;
}

/* short scale */
.scales::after {
  content: "";

  position: absolute;
  left: 0;
  right: 9vmin;
  top: 0;
  bottom: 0;

  background: linear-gradient(to top, #5c5a5a 1px, transparent 1px);
  background-size: 10% 2%;
}

.date-container {
  position: absolute;
  right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: calc(var(--ruler-height) - 2%);
  /* DEV */
  /* border: 1px red solid; */
}

.date {
  color: rgba(255, 255, 255, 0.2);
}
